<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<a href="{{url_for('dashboard')}}" class="link active">My Dashboard</a>
<body>
    <h1>Welcome, {{ user.first_name }} {{ user.last_name }}!</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>

    {% if user_socials %}
        <h2>Social Media</h2>
        <p>Instagram: {{ user_socials.instagram_handle }}</p>
        <p>Snapchat: {{ user_socials.snapchat_handle }}</p>
        <img src="{{ url_for('static', filename='profile_pics/' + user_socials.profile_picture) }}" alt="Profile Picture">
        <p>Bio: {{ user_socials.short_bio }}</p>
    {% else %}
        <p>No social media information available.</p>
    {% endif %}

    {% if user_habits %}
        <h2>Habits</h2>
        <p>Sleep: {{ user_habits.sleep }}</p>
        <p>Cleanliness: {{ user_habits.cleanliness }}</p>
        <p>Relationship: {{ user_habits.relationship }}</p>
    {% else %}
        <p>No habit information available.</p>
    {% endif %}
    <form action="{{ url_for('updateprofile') }}" method="get">
        <button type="submit">Update</button>
    </form>
</body>
</html>
