<!DOCTYPE html>
<html>
<head>
    <title>Update Profile</title>
</head>
<body>
    <h1>Update Profile</h1>
    <form method="POST" action="{{ url_for('updateprofile') }}">
        {{ form.hidden_tag() }}
        

        <h2>Social Media</h2>
        <p>{{ form.instagram_handle.label }} {{ form.instagram_handle() }}</p>
        <p>{{ form.snapchat_handle.label }} {{ form.snapchat_handle() }}</p>
        <p>{{ form.profile_picture.label }} {{ form.profile_picture() }}</p>
        <p>{{ form.short_bio.label }} {{ form.short_bio() }}</p>

        <h2>Habits</h2>
        <p>{{ form.sleep.label }} {{ form.sleep() }}</p>
        <p>{{ form.cleanliness.label }} {{ form.cleanliness() }}</p>
        <p>{{ form.relationship.label }} {{ form.relationship() }}</p>

        <p>{{ form.submit }}</p>
    </form>   
</body>
</html>
