<form method="POST" action="">
    <!--Hidden tag is used for protection of the form-->
    {{form.hidden_tag()}}
    <fieldset class="form-group">
            <!--We are using the variable names defined in forms.py to refer to the fields-->
            <div>
                {{ form.sleep.label }}
                {{ form.sleep }}
            </div>
            <div>
                {{ form.cleanliness.label }}
                {{ form.cleanliness }}
            </div>
            <div>
                {{ form.relationship.label }}
                {{ form.relationship }}
            </div>
        {{form.submit}}
    </fieldset>
</form>